# <center> Homework 1
    
<center> ISE-559  Data Management
<center> Due:  September 3, 2021
<center> Haotian Liang

This homework introduces the use of SQL using the file-based SQLite database and focuses on the SELECT subset of SQL which is all about querying data rather than modifying it.  The SQL tutorial at http://sqlzoo.net/ is a good introduction and should provide you with the background to answer all of the questions in this homework assignment.  Documentation on the SELECT function can be acccessed at https://www.sqlitetutorial.net/

We will be using the sqlite3 package from within the Jupyter Notebook so there is no need to download and install any database files.  See the Module 1 class PowerPoint for more information on using this environment.

We will be working with a well-know teaching database called Sakila which is a database of movies from a video rental store.  The database contains 16 tables but for this exercise we will only be using one table called *film* which contains the inventory of movies that the store has available for rental.  

The code below imports the sqlite3 database package and creates a connection to the *sakila* database

In [4]:
import sqlite3
con = sqlite3.connect('sakila.db')
cur = con.cursor()

1)  Find all of the movies that are longer than 180 minutes and have a "R" rating.  Print the film's id, title, rating and length.  (20 points)

In [11]:
 cur.execute('''
    SELECT film_id,title, rating, length
FROM film
WHERE length >180 AND rating = 'R'
 ''').fetchall()

[(24, 'ANALYZE HOOSIERS', 'R', 181),
 (406, 'HAUNTING PIANIST', 'R', 181),
 (426, 'HOME PITY', 'R', 185),
 (535, 'LOVE SUICIDES', 'R', 181),
 (765, 'SATURN NAME', 'R', 182),
 (813, 'SMOOCHY CONTROL', 'R', 184),
 (817, 'SOLDIERS EVOLUTION', 'R', 185),
 (872, 'SWEET BROTHERHOOD', 'R', 185),
 (974, 'WILD APOLLO', 'R', 181)]

2)  Find all of the movies that are between 55 and 60 minutes in length and have a "R" or "PG-13" rating.  Print the film's id, title, rating and length.  (20 points)

In [12]:
cur.execute('''
   SELECT film_id,title, rating, length FROM film
WHERE rating IN ('R','PG-13') AND length BETWEEN 55 AND 60
 ''').fetchall()

[(18, 'ALTER VICTORY', 'PG-13', 57),
 (102, 'BUBBLE GROSSE', 'R', 60),
 (159, 'CLOSER BANG', 'R', 58),
 (171, 'COMMANDMENTS EXPRESS', 'R', 59),
 (199, 'CUPBOARD SINNERS', 'R', 56),
 (214, 'DAUGHTER MADIGAN', 'PG-13', 59),
 (303, 'FANTASY TROOPERS', 'PG-13', 58),
 (465, 'INTERVIEW LIAISONS', 'R', 59),
 (486, 'JET NEIGHBORS', 'R', 59),
 (565, 'MATRIX SNOWMAN', 'PG-13', 56),
 (782, 'SHAKESPEARE SADDLE', 'PG-13', 60),
 (947, 'VISION TORQUE', 'PG-13', 59),
 (972, 'WHISPERER GIANT', 'PG-13', 59)]

3)  Find all the movies that are about sharks and squirrels (have both the words shark and squirrel in their description).  Print the film's title and description.  (20 points)

In [21]:
 cur.execute('''
    SELECT title, description FROM film
WHERE description LIKE '%shark%' AND description LIKE '%squirrel%'
 ''').fetchall()

[('DUCK RACER',
  'A Lacklusture Yarn of a Teacher And a Squirrel who must Overcome a Dog in A Shark Tank'),
 ('GRIT CLOCKWORK',
  'A Thoughtful Display of a Dentist And a Squirrel who must Confront a Lumberjack in A Shark Tank'),
 ('LUCK OPUS',
  'A Boring Display of a Moose And a Squirrel who must Outrace a Teacher in A Shark Tank'),
 ('MALKOVICH PET',
  'A Intrepid Reflection of a Waitress And a A Shark who must Kill a Squirrel in The Outback'),
 ('VANISHED GARDEN',
  'A Intrepid Character Study of a Squirrel And a A Shark who must Kill a Lumberjack in California')]

4)  Find all the movies whose replacement cost to length ratio is greater than or equal to $0.50/minute.  Print the film title and the replacement cost per minute sorted by replacement cost per minute in a descending order.  (20 points)

In [16]:
 cur.execute('''
    SELECT title, replacement_cost/length FROM film
WHERE replacement_cost/length >= 0.5 ORDER BY replacement_cost/length DESC
 ''').fetchall()

[('RIDGEMONT SUBMARINE', 0.6302173913043478),
 ('IRON MOON', 0.6084782608695651),
 ('SUNSET RACER', 0.6039583333333333),
 ('MIDSUMMER GROUNDHOG', 0.583125),
 ('KWAI HOMEWARD', 0.565),
 ('LUST LOCK', 0.5575),
 ('SIDE ARK', 0.5575),
 ('LABYRINTH LEAGUE', 0.5432608695652174),
 ('CUPBOARD SINNERS', 0.5355357142857142),
 ('SIMON NORTH', 0.5292156862745098),
 ('BENEATH RUSH', 0.5281132075471697),
 ('MAGNIFICENT CHITTY', 0.5281132075471697),
 ('MOVIE SHAKESPEARE', 0.5281132075471697),
 ('DOCTOR GRAIL', 0.5261403508771929),
 ('STORM HAPPINESS', 0.5085964912280702)]

5  Find all the movies with titles that start with a C and end with a P.  Return the film titles.  (20 points)

In [20]:
 cur.execute('''
    SELECT title FROM film
WHERE title LIKE 'C%P'
 ''').fetchall()

[('CONNECTICUT TRAMP',)]